<div class="container">
  <button mat-raised-button  (click)="addBookDialog()">
    <mat-icon>add</mat-icon>Add a new book
  </button>
  <button mat-raised-button  (click)="refresh()">
    <mat-icon>refresh</mat-icon>Refresh
  </button>
  <div class="list-books" *ngIf="books; else noBooks">
      <h2>List of books</h2>

      <mat-table [dataSource]="books" class="mat-elevation-z8">
        
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
        </ng-container>
      
        <!-- Author Column -->
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.author }} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)"><mat-icon>create</mat-icon></button>
            <button mat-icon-button (click)="delete(element.id)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
      </mat-table>
  </div>
</div>

<ng-template #noBooks>
  <div class="no-books"><p>No books !</p></div>
</ng-template>