<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container">
    <h2>List of books</h2>
  
    <!-- <table>
      <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
        </tr>
      </tbody>
    </table> -->

    <mat-table [dataSource]="books" class="mat-elevation-z8">
      
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>
    
      <!-- Author Column -->
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    </mat-table>

  </div>
</div>

<router-outlet></router-outlet>
