/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main { margin: auto 10px; }

snack-bar-container.notification.success {
    background-color: #5cb85c;
    color: #fff;
}

snack-bar-container.notification.error {
    background-color: #c62323;
    color: #fff;
}

snack-bar-container.notification simple-snack-bar {
    font-size: 14px !important;
    font-weight: bold;
}
